@font-face {
	font-family: Estedad;
	src: url("https://aminabedi68.github.io/Estedad/Estedad/Estedad-Regular.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Estedad;
	src: url("https://aminabedi68.github.io/Estedad/Estedad/Estedad-Bold.woff2")
		format("woff2");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: Estedad;
	src: url("https://aminabedi68.github.io/Estedad/Estedad/Estedad-Black.woff2")
		format("woff2");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: Estedad;
	src: url("https://aminabedi68.github.io/Estedad/Estedad/Estedad-Medium.woff2")
		format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Estedad;
	src: url("https://aminabedi68.github.io/Estedad/Estedad/Estedad-Light.woff2")
		format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Estedad;
	src: url("https://aminabedi68.github.io/Estedad/Estedad/Estedad-Thin.woff2")
		format("woff2");
	font-weight: 100;
	font-style: normal;
}
